.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 500px;
  background-color: white;
  padding: 10px;
  margin: 25px;
}

.save-button {
  width: 200px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 15px;
  padding: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.saved-card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.saved-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 100vw;
  margin-top: 30px;
}