.navBar {
  display: flex;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url('../images/question-mark-background.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
}

img {
  margin-top: 20px;
  height: 60px;
  width: 60px;
  background-color:white;
  padding: 10px;
}

h1 {
  font-size: 40px;
  color: white;
  margin-top: 0px;
  padding: 20px;
}

.saved-container-button,
.home-button {
  width: 200px;;
  font-size: 20px;
  background-color:white;
  border-color: black;
  border-style:double;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}