.navBar {
  background-image: url('../images/question-mark-background.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
}

img {
  margin-top: 20px;
  height: 60px;
  width: 60px;
  background-color:white;
  padding: 10px;
}

h1 {
  font-size: 40px;
  color: white;
  margin-top: 0px;
  padding: 20px;
}